$font_family_main: PT Sans, sans-serif;
$roboto: 'Roboto', sans-serif;
$font_size: 13px;

$primary-color: #fff;
$orange: #ff5b23;
$border-menu: #777;

ul, li, h1, h2, span {
	margin: 0;
	padding: 0;
}