$roboto: 'Roboto', sans-serif;
$lora: 'Lora', serif;
$ubuntu: 'Ubuntu', sans-serif;
$font_size: 13px;

$primary-color: #fff;
$font-gray: rgb(119, 119, 119);
$orange: #ff5b23;
$gray: #262626;
$border-menu: #777;
$card-background: #f6f6f6;

ul, li, h1, h2, span, p {
	margin: 0;
	padding: 0;
}