@import 'constants';

body {
	margin: 0;
	padding: 0;
	font-family: $roboto;
	color: $primary-color;
	font-size: $font_size;
}

.tmp {
	border-bottom: 1px dashed lightgray;
}

.wrapper {
	width: 1170px;
	margin: 0 auto;
	border-left: 1px dashed lightgray;
	border-right: 1px dashed lightgray;
}

.all-width {
	background-color: gray;
}

header {
	min-height: 50px;
	
	.top-header {
		display: flex;
		flex-direction: row;
		padding-top: 50px;

		.logo {
			margin-bottom: 30px;
		}
		
		.button-group {
			display: inline-flex;
			margin-top: 15px;
			margin-left: 45px;

			.btn {
				display: flex;
				margin-left: 15px;
				margin-right: 5px;

				.ico {
					display: inline-block;
					width: 30px;
					height: 30px;
					background-color: $orange;
				}
				.title {
					margin-left: 7px;
					margin-top: 7px	;
					font-family: $roboto;
					font-size: 14px;
					display: inline-block;
					vertical-align: middle;
				}
			}
		}
	}

	.main-menu {
		background-image: url("../img/decor-bg.png");
		background-repeat: repeat;
		background-position: left top;

		.flex-container {
			display: flex;

			li {
				list-style: none;
				display: flex;				
				border-right: 1px solid $border-menu;
							
				a {
					display: flex; 
					box-sizing: border-box;
					height: 85px;
					padding: 10px;
					align-items: center;
					font-family: $roboto;
					color:  #fff;
					font-size: 20px;
					font-weight: bold;
					text-decoration: none;
					text-transform: uppercase;
				}
			}

			li:first-child {
				border-left: 1px solid $border-menu;
			}
			.special {
				margin-left: auto;
				border-left: 1px solid $border-menu;	
				a {
					color: $orange;	
				}
			}
		}
	
	}
}

main {
	.slider {
		height: 900px;
		width: 2000px;
		position: absolute;
		top: -250px;
		z-index: -2;
		background-image: url("../img/slide-1.jpg"); 
	}

	.content-top {
		display: flex;
		justify-content:  space-between;
		flex-wrap: wrap;
		margin-top: 250px;
		margin-bottom: 25px;

		.card {
			box-sizing: border-box;

			min-height: 320px;
			min-width: 570px;
			margin-bottom: 30px;
			border-top: 4px solid $orange;

			img {
				position: absolute;
			}

			.card-description {
				position: absolute;
				padding: 15px 30px;

				h2 {
					margin: 0;
					font-size: 48px;
					font-weight: bold;
					text-transform: uppercase;
					
					span {
						font-weight: normal;
					}
				}

				p {
					display: block;
					width: 350px;
					font-size: 14px;
					font-weight: normal;
				}
			}
			.button {
				border: none;
				margin-top: 230px;
				margin-left: 30px;
				padding: 0;
				opacity: 0.8;

				span {
					display: inline-block;
					line-height: 60px;
					margin: 5px 0;
					text-transform: uppercase;
					background-color: $orange;
					margin: 0;
					padding-left: 15px;
					font-size: 20px;
					color: #fff;
					font-weight: bold;
				}
				span:after {
					content: ">>";
					display: inline-block;
					padding: 0 20px;
					margin-left: 20px;
					background-color: black;
				}
			}
		}
	}

	.second-menu {
		background-image: url("../img/decor-bg.png");
		background-repeat: repeat;
		background-position: left top;

		.flex-container {
			display: flex;
			justify-content: center;

			li {
				list-style: none;
				display: flex;				
							
				a {
					display: flex; 
					box-sizing: border-box;
					height: 85px;
					padding: 10px;
					align-items: center;
					font-family: $roboto;
					color:  #fff;
					font-size: 19px;
					font-weight: bolder;
					text-decoration: none;
					text-transform: uppercase;
				}

				a:hover {
					color: $orange;
				}
			}

			.active a {
				color: $orange;
			}


		}
	
	}

	.product-block {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.card {
			width: 270px;
			margin-top: 25px;
			margin-bottom: 10px;

			img {
				box-sizing: border-box;
				padding: 15px;
				background-color: $card-background;
				width: 100%;			
			}

			.product-name {
				margin: 10px 0 5px 0;
				font: 14px $roboto;
				font-weight: lighter;
				color: #000;
			}
			.price {
				font: 25px $lora;
				color: $orange;
			}
			.btn {
				display: flex;
				margin-top: 5px;
				color: black;

				.buy {
					width: 60px;
					height: 60px;
					background-color: $orange;
				}
				.other {
					margin-left: 3px;
					padding: 0 20px;
					line-height: 60px;
					font-size: 14px;
					color: white;
					background-color: $gray;
				}
			}
		}
	}

	.promo-block {
		margin-top: 50px;
		background-image: url("../img/parallax-1.jpg");
		background-position: center 30%;
		background-repeat: no-repeat;

		.wrapper {
			display: flex;
			flex-direction: column;
			justify-content: center;
			min-height: 550px;

			.head {
				display: block;
				font: 60px $ubuntu;
				text-transform: uppercase;
				line-height: 50px;
			}
			.half {
				display: block;
				font: 130px $ubuntu;
				color: $orange;
			}
			.wrap {
				display: flex;
			}

			p {
				width: 900px;
				font-size: 14px;
				line-height: 1.7;
			}
			.btn {
				height: 60px;
				width: 60px;
				box-sizing: border-box;
				padding-top: 15px;
				padding-left: 15px; 
				background-color: $orange;
				font-size: 25px;
			}
		}
		.wrapper:hover {
			.head {
				color: $orange;
			}
			.half {
				color: white;
			}
			.btn {
				background-color: black;
			}
		}
	}

	.content-middle {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		margin-top: 60px;

		.card {
			width: 570px;

			.date {
				display: inline-block;
				height: 20px;
				padding: 10px;
				background-color: $orange;
				font-size: 14px;
			}

			img {
				box-sizing: border-box;
				margin-top: 10px;
				margin-bottom: 15px;
				padding: 0;
				background-color: $card-background;
				width: 100%;			
			}

			.card-description {
				h2 	a {
					text-decoration: none;
					font: 24px $ubuntu;
					color: black;
				}
				p {
					margin-top: 5px;
					line-height: 1.7;
					font-size: 15px;
					color: $font-gray;
				}
				h2:hover a {
					color: $orange;
				}
			}

		}
	}

	.content-bottom {
		margin-top: 50px;
		background-image: url("../img/parallax-2.jpg");
		background-position: center center;
		background-repeat: no-repeat;

		.wrapper {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			.card {
				box-sizing: border-box;
				padding: 25px;
				margin: 100px 0;
				height: 370px;
				width: 370px;
				opacity: 0.9;

				.icon {
					margin-top: 20px;
					height: 90px;
					width: 90px;
					box-sizing: border-box;
					border: 1px solid lightgray;
				}
				h2 {
					margin-top: 8px;
					font: 34px $ubuntu;
					text-transform: uppercase;
					color: black;
					opacity: 1;
				}
				p {
					margin-top: 10px;
					font-size: 13px;
					line-height: 1.7;
					color: $font-gray;
				}
			}

			.one {
				background-color: $card-background;
			}
			.two {
				background-color: $orange;
				color: white;
				h2, p {color: white;}
			}
			.three {
				background-color: $gray;
				h2, p {color: white;}
				
			}
		}				
	}

	.map {
		min-height: 500px;
	}

	.bottom-menu {
		.wrapper {
			min-height: 85px;
		}
	}
}

footer {
	.top-footer {
		min-height: 300px;
	}

	.bottom-footer {
		.wrapper {
			min-height: 100px;
		}
	}
}
