@charset "UTF-8";
.tmp {
  outline: 1px solid lightgray;
}

@font-face {
  font-family: Exo;
  /* Exo 2.0 Thin Italic */
  src: url(../fonts/Exo2.0-Thin.otf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Trebuchet MS;
  src: url(../fonts/Trebuchet-MS.ttf);
  font-weight: normal;
  font-style: normal;
}

@media only screen and (max-width: 1199px) {
  .product__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .product__item {
    margin: 0 50px 50px;
  }
}

.body {
  background-color: #abcabc;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  font-size: 14px;
  background-color: #000;
  background-image: url("../img/background.png");
  background-size: cover;
}

.container {
  min-height: 50px;
  max-width: 1120px;
  width: 1120px;
}

.main-caption {
  font-family: 'Exo';
  font-size: 36px;
  line-height: 50px;
  color: #fff;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  text-align: center;
}

.product__items {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.product__item {
  width: 320px;
}

.card__wrap {
  /* Множественный фон задан для того, чтобы исключить эффект мигания при наведении */
  background-image: url("../img/Back-default.png"), url("../img/Back-default-hover.png");
  background-size: 100% 100%;
  position: relative;
  padding-bottom: 4px;
  cursor: pointer;
}

.card__wrap:hover {
  background-image: url("../img/Back-default-hover.png");
}

.card__top-text {
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  margin-left: 50px;
}

.card__top-text--selected {
  display: none;
}

.card__caption {
  margin: 0;
  padding: 0;
  margin-left: 50px;
  padding-top: 8px;
}

.card__name {
  margin: 0;
  padding: 0;
  font-size: 48px;
  line-height: 52px;
  font-weight: bold;
}

.card__filler {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

.card__description {
  display: inline-block;
  width: 130px;
  min-height: 55px;
  margin: 0;
  padding: 0;
  margin-left: 50px;
  padding-top: 12px;
}

.card__image {
  min-height: 280px;
  background-image: url("../img/kot_preview.png");
  background-size: 360px auto;
  background-position: -22px 10px;
  background-repeat: no-repeat;
  margin-left: 4px;
  border-radius: 10px;
}

.card__weight {
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 80px;
  height: 80px;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: #1698d9;
  color: #fff;
  line-height: 22px;
  font-size: 21px;
  padding-top: 20px;
  text-align: center;
}

.card__weight span {
  font-size: 42px;
  text-align: center;
}

.card__wrap:hover .card__weight {
  background-color: #2ea8e6;
}

.card__bottom-text {
  color: #fff;
  text-align: center;
  line-height: 16px;
  font-size: 13px;
}

.card__bottom-text--selected {
  display: none;
}

.card__bottom-text--disabled {
  display: none;
}

.card__link {
  color: #1698d9;
}

.selected .card__wrap {
  background-image: url("../img/Back-select.png"), url("../img/Back-select-hover.png");
}

.selected .card__wrap:hover {
  background-image: url("../img/Back-select-hover.png");
}

.selected .card__top-text--selected {
  display: block;
  color: #e62e7a;
}

.selected .card__top-text--default {
  display: none;
}

.selected .card__weight {
  background-color: #d91667;
}

.selected .card__wrap:hover .card__weight {
  background-color: #e62e7a;
}

.selected .card__bottom-text--default {
  display: none;
}

.selected .card__bottom-text--selected {
  display: block;
}

.selected .card__bottom-text--disabled {
  display: none;
}

.disabled .card__wrap {
  background-image: url("../img/Back-disabled.png");
  cursor: default;
}

.disabled .card__wrap::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/Back-overlay.png");
}

.disabled .card__weight {
  background-color: #b3b3b3;
}

.disabled .card__wrap:hover .card__weight {
  background-color: #b3b3b3;
}

.disabled .card__bottom-text--default {
  display: none;
}

.disabled .card__bottom-text--selected {
  display: none;
}

.disabled .card__bottom-text--disabled {
  display: block;
  color: #ffff66;
}
