/*@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');*/

$font_caption: 'Roboto Slab', serif;

$color_accent: #de4e64;
$color_sec-text: #444;
$color_a: #de4e64;
$color_background-gray: #efefef;

$shadow: 0 1px 2px #555;